.row
  .span12
    %h1 Comics
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam risus orci, sollicitudin ac mattis vitae, eleifend eget eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu ligula nisi. Etiam quis elementum nibh. Maecenas tristique ligula ipsum. Nunc fermentum imperdiet orci, quis rhoncus turpis tempus eu. Quisque in consectetur arcu. Nullam faucibus non est non suscipit. Nam sed venenatis diam. Curabitur gravida luctus facilisis. Donec dictum, eros in eleifend pharetra, massa orci iaculis nunc, ac viverra orci turpis vel mauris. Sed tempor ante turpis, egestas euismod quam porta ac. Maecenas pellentesque tortor eu dolor ullamcorper, at lacinia tellus pulvinar.
.row
