-if current_user
  %li.dropdown
    %a.dropdown-toggle{data: {toggle: 'dropdown'}}
      .avatar
      Welcome
      = current_user.email
      %b.caret
    %ul.dropdown-menu
      %li=link_to 'Sign Out', destroy_user_session_path, method: :delete
-else
  %li=link_to 'Sign in', new_user_session_path